*{
	font-size:1.19em;
	font-family:"segoe ui";
	color:#444;
}
#container{
	width:1080px;
	height:1920px;
	margin:0 auto;
	display:flex;
	align-items:stretch;
	box-shadow:1px 1px 10px rgba(0,0,0,.1);
	flex-flow:column;
}

#content{
	padding:120px 50px 50px;
}
#logo{
	width:450px;
}
form{
	margin-bottom:20px;
}
.inp{
	width:100%;
	padding:33px 50px 37px;
	outline:0;
	border-radius:16px;
	margin:15px 0;
	border:solid 2px #eee;
	background:#fafafa;
	box-shadow:0px 4px 0px -2px #eee;
	transition:border-color 0.2s;
}
.inp:focus{
	border:solid 4px #1878f3;
	padding:31px 48px 35px;
}
.inp::placeholder{
	color:#999;
	font-size:0.9em;
}
#login{
	background:#1878f3;
	border:0;
	margin-top:25px;
	color:#fff;
	padding:33px 0 37px;
}
#login:active{
	background:#4e96f3;
}
#or{
	display:flex;
	align-items:center;
}
#or div{
	flex-grow:1;
}
#or .dash{
	height:4px;
	background:#e9e9e9;
}
#or div.or{
	padding:5px 70px 20px;
	flex-grow:0;
}
#newAccount{
	background:#06b02e;
	color:#fff;
	padding:35px 50px;
	border:0;
	border-radius:16px;
	display:block;
	margin:60px 0 30px;
}
a{
	text-decoration:none;
	color:inherit;
}
a:hover{
	text-decoration: underline;
}
#footer{
	display:flex;
}
#footer ul{
	padding:0;
	margin:0;
	list-style:none;
	flex-grow:1;
	font-size:0.9em;
	margin-top:50px;
}
li{
	color:#3c65bc;
	padding:10px 0;
	cursor:pointer;
}
li:hover{
	text-decoration:underline;
}
#footer ul .currentLang{
	color:#33333c !important;
}
.btn{
	font-weight:500;
	user-select:none;
}
#cpr{
	margin-top:40px;
	font-size:1.4em;
}